$border: #d9d9d9;
$primary: #5495F6;
$assit: #666;

.vm-combo__theme--default {
	display: flex;
}

/**
 * widget
 */
.vm-combo__theme--default {
	.vm-widget {
		flex: 0 0 296px;
		width: 296px;
	}
	.vm-widget__wrapper {
		background: white;
		padding: 10px 0;
	}
	.vm-widget__header {
		font-size: 15px;
		color: #000;
		padding: 8px 15px;
		font-weight: 400;
	}
	.vm-widget__tip {
		background: #FDF5E8;
		height: 40px;
		border-top: 1px solid $border;
		margin: 0 8px;
		display: flex;
		align-items: center;
		padding: 0 10px;
		color: $assit;
		p {
			flex: 1;
		}
		span {
			color: $assit;
			cursor: pointer;
		}
	}
	.vm-widget__tabs {
		padding: 12px 18px;
		color: $assit;
		display: flex;
		line-height: 24px;
		font-size: 12px;
		border-bottom: 1px solid $border;
		p {
			&:not(:first-child){
				margin-left: 40px;
			}
			&.is-active {
				color: $primary;
				border-bottom: 2px solid $primary;
			}
		}
	}
	.vm-widget__content {
		overflow: auto;
		max-height: 600px
	}
	.vm-widget__title {
		padding: 15px 20px;
		font-size: 12px;
		color: #000;
		// font-weight: bold;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $border;
		&.is-draggable {
			cursor: move;
		}
		&.is-click {
			cursor: pointer;
		}
		&.is-active {
			border-left: 2px solid $primary;
			color: $primary;
			.vm-widget__arrow {
				transform: rotate(-135deg);
			}
		}
	}
	.vm-widget__arrow {
		width: 8px;
		height: 8px;
		border: 2px solid $border;
		border-top: 0;
		border-left: 0;
		transform: rotate(45deg);
		transition: transform 0.2s ease-in-out;
	}
	.vm-widget__combo {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 1px solid $border;
		// justify-content: center;
		padding: 12px;
	}
	.vm-widget__item {
		flex: 0 0 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 6px 12px;
		cursor: move;
		img {
			width: 100%;
			border: 1px dashed $border;
		}
		p {
			padding-top: 8px;
		}
	}
}


/**
 * frame-sortable
 */
.vm-combo__theme--default {
	.vm-frame-sortable {
		// 不可缩小
		flex-shrink: 0;
		border: 1px solid $border;
		margin-left: 20px;
		position: relative; 
		overflow: auto
	}
}

.vm-combo__theme--default {
	.vm-frame-draggable {
		// 不可缩小
		flex-shrink: 0;
		border: 1px solid $border;
		margin-left: 20px;
		position: relative; 
	}
}

/**
 * editor
 */
.vm-combo__theme--default {
	.vm-editor {
		flex-shrink: 0;
		margin-left: 20px;
		min-width: 426px; // 暂时写死
		max-width: 426px;
	}
	.vm-editor-wrapper {
		position: relative;
		padding: 15px;
		border: 1px solid #0000001a;
		border-radius: 6px;
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
		background: #fff;
	}
	.vm-editor__arrow {
		left: -7px;
		top: 20px;
		width: 14px;
		height: 14px;
		transform: translateX(-50%) rotate(45deg);
		box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
		background: #fff;
		transform: rotate(45deg);
		position: absolute;
		border-color: #0000;
		border-style: solid;
		border-left: 1px solid #0000001a;
		border-bottom: 1px solid #0000001a;
	}
}