$border: #d9d9d9;
$primary: #5495F6;
$assit: #666;
$acitved: #EFEFEF;
$black: #000000;
$white: #fff;

.vm-combo__theme--default {
	display: flex;
}

/**
 * widget
 */
.vm-combo__theme--default {
	.vm-widget {
		flex: 0 0 354px;
		width: 354px;
		z-index: 10;
	}
	.vm-widget__wrapper {
		background: white;
		padding: 10px 0 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	.vm-widget__header {
		font-size: 15px;
		color: #000;
		padding: 8px 15px;
		font-weight: 400;
	}
	.vm-widget__tip {
		background: #FDF5E8;
		height: 40px;
		margin: 2px 9px 15px;
		display: flex;
		align-items: center;
		padding: 0 10px;
		color: $assit;
		border-radius: 4px;
		border:none;
		p {
			flex: 1;
		}
		span {
			color: $assit;
			cursor: pointer;
		}
		.vm-widget__icon-warn{
			width: 14px;
			height: 14px;
			background: #EC9C39;
			border-radius: 100%;
			color: $white;
			font-size: 12px;
			line-height: 14px;
			text-align: center;
			margin-right: 7px;
		}
	}
	.vm-widget__menu {
		border-top: 1px solid $border;
		overflow-y: auto;
		display: flex;
		flex:1;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: nowrap;
		.vm-widget__tabs {
			width: 56px;
			height: 100%;
			padding:0;
			color: $assit;
			display: flex;
			line-height: 24px;
			font-size: 12px;
			border-right: 1px solid $border;
			justify-content: flex-start;
			flex-direction: column;
			p {
				text-align: center;
				height: 49px;
				cursor: pointer;
				line-height: 49px;
				&.is-active {
					color: $black;
					background-color: $acitved;
				}
			}
		}
		.vm-widget__content {
			width: 297px;
			overflow: auto;
			height:100%;
		}
	}

	.vm-widget__title {
		padding: 15px 20px;
		font-size: 12px;
		color: #000;
		// font-weight: bold;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		border-bottom: 1px solid $border;
		&.is-draggable {
			cursor: move;
		}
		&.is-click {
			cursor: pointer;
		}
		&.is-active {
			// border-left: 2px solid $primary;
			color: $primary;
			.vm-widget__arrow {
				transform: rotate(-135deg);
			}
		}
	}
	.vm-widget__arrow {
		width: 8px;
		height: 8px;
		border: 2px solid $border;
		border-top: 0;
		border-left: 0;
		transform: rotate(45deg);
		transition: transform 0.2s ease-in-out;
	}
	.vm-widget__combo {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 1px solid $border;
		// justify-content: center;
		padding: 12px;
	}
	.vm-widget__item {
		flex: 0 0 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 6px 12px;
		cursor: move;
		img {
			width: 100%;
			border: 1px dashed $border;
		}
		p {
			padding-top: 8px;
		}
	}
}


/**
 * frame-sortable
 */
.vm-combo__theme--default {
	.vm-frame-sortable {
		// 不可缩小
		flex-shrink: 0;
		border: 1px solid $border;
		margin-left: 20px;
		position: relative;
		overflow: auto
	}
}

.vm-combo__theme--default {
	.vm-frame-draggable {
		// 不可缩小
		flex-shrink: 0;
		border: 1px solid $border;
		margin-left: 20px;
		position: relative;
		overflow: hidden;
	}
}
/**
 * draggable-frame
 */
.vm-frame__inner {
	white-space: nowrap;
	display: inline-block;
}


/**
 * editor
 */
.vm-combo__theme--default {
	.vm-editor {
		flex-shrink: 0;
		// margin-left: 20px;
		// min-width: 446px; // 暂时写死
		// max-width: 446px;
		// flex: 0 0 354px;
	}
	.vm-editor-wrapper {
		position: relative;
		padding: 0;
		border: 1px solid #0000001a;
		border-radius: 0px;
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
		background: #fff;
		z-index: 2;
	}
	.vm-editor__arrow {
		left: -7px;
		top: 20px;
		width: 14px;
		height: 14px;
		transform: translateX(-50%) rotate(45deg);
		box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
		background: #fff;
		transform: rotate(45deg);
		position: absolute;
		border-color: #0000;
		border-style: solid;
		border-left: 1px solid #0000001a;
		border-bottom: 1px solid #0000001a;
	}
}

.vm-ruler {
	position: fixed;
	z-index: 1;
	.vm-ruler__h-container {
		position:absolute;
		left: 20px;
		cursor: ew-resize;
	}
	.vm-ruler__canvas {
		display: block;
	}
	.vm-ruler__v-container {
		position:absolute;
		transform-origin: 0% 100% 0%;
		cursor: ns-resize;
	}
	.vm-guide-line {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		background: #535353;
		cursor: pointer;
	}
	.vm-ruler__h-indicator, .vm-ruler__lines-wrap {
		.vm-ruler__hline-action {
			position: absolute;
			border-left: 1px dashed rgba(0,173,255,.84);
			height: 100vh;
			top: 0;
			padding-left: 5px;
			.vm-ruler__hline-value {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				user-select: none;
				color: #fff;
				padding: 0 4px;
				border-radius: 1px;
				box-shadow: 0 0 5px -3px #000;
				background: rgba(64, 116, 180, .7);
				z-index: 2;
			}
		}
	}
	.vm-ruler__lines-wrap {
		.vm-ruler__hline-action {
			border-left: 1px solid rgba(0,173,255,.84);
		}
	}
	.vm-ruler__vline-wrap {
		transform: rotate(-90deg);
		transform-origin: 0 100% 0;
		.vm-ruler__v-indicator, .vm-ruler__lines-wrap {
			.vm-ruler__vline-action {
				position: absolute;
				width: 100vw;
				border-top: 1px dashed rgba(0,173,255,.84);
				padding-top: 3px;
				.vm-ruler__vline-value {
					transform: rotate(90deg);
					transform-origin: 0 0 0;
					position: absolute;
					left: 20px;
					top: 5px;
					user-select: none;
					color: #fff;
					padding: 0 4px;
					border-radius: 1px;
					box-shadow: 0 0 5px -3px #000;
					background: rgba(64,116,180,.7);
					z-index: 2;
				}
			}
		}
		.vm-ruler__lines-wrap {
			.vm-ruler__vline-action {
				border-top: 1px solid rgba(0,173,255,.84);
			}
		}
	}
}
