{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"@babel/plugin-proposal-export-default-from"
		],
		[
			"@babel/plugin-proposal-function-bind"
		],
		[
			"@babel/plugin-syntax-dynamic-import"
		],
		[
			"@babel/plugin-syntax-jsx"
		],
		[
			"transform-vue-jsx"
		],
		[
			"import",
			{
				"libraryName": "wya-vc",
				"libraryDirectory": "lib"
			},
			"wya-vc"
		],
		[
			"import",
			{
				"libraryName": "iview",
				"libraryDirectory": "src/components"
			},
			"iview"
		]
	]
}
