$border: #d9d9d9;
$primary: #5495f6;
$assit: #666;
$acitved: #efefef;
$black: #000000;
$white: #fff;

$theme-light: #efefef;
$theme-dark: #424242;

$theme-light-bg: #efefef;
$theme-dark-bg: #424242;

$theme-light-frame-bg: #d9d9d9;
$theme-dark-frame-bg: #424242;

$theme-light-assist: #efefef;
$theme-dark-assist: #343434;

